.form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.from_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  margin: 10px;
}

.TItem {
  list-style: none;
}

.TItem > li > span {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}

.SumItems {
  font-size: 16px;
  font-weight: 500;
}
